@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

* {
    font-family: "Ubuntu Sans", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    min-height: 70vh;
}



footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}